.header-content{
  text-align: center;
}

.sub-headers {
  text-align: center;
}


.login-form {
  margin-top: 50px;
  margin-bottom: 100px;
}

.login-button{
  width: 70%;
}

.form-control{
  width: 70% !important;
}

.login-labels {
  padding-right: 400px;
}

.hint {
  margin-top: 50px;
}

.sql-results {
  margin-top: 50px;
  width: 70%;
}

.question-button {
	width: 30%;
	margin-top: 20px;
	margin-left: 100px;
	margin-bottom: 10px;
}

.answer-text {
	margin: 20px;
}

.sub-headers {
	text-align: center;
}

.mb-2 {
	margin-left: 225px;
}

.helper-text {
	text-align: center;
}

.instruction-div {
	margin-top: 25px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

.second-row-qq {
	margin-left: 14px;
}

.col-table {
	margin-top: 80px;
}

.suspect-field {
	width: 100%;
}


.button-padding {
	margin-top: 30px;
}

.begin-button {
	margin-left: 527px;
}

.pad-cell-button {
	margin-left: 475px;
}

.question-text {
	text-align: center;
}

.q-text {
	width: 50%;
}

.button-group-suspect {
	margin-left: 500px;
}

.center-text {
	margin-left: 240px;
}

.text-under-table {
	margin-top: 50px;
}